[2018-12-03 20:17] chamanklalwani opened #1 "Getting Response for preflight has invalid HTTP status code 401"
Hi,

For /api/user/admins URI, I am getting **Response for preflight has invalid HTTP status code 401** error.

[2018-12-03 20:53] isopropylcyanide commented on #1
Are you passing the correct JWT token in the Authorization header?
Can you please share the exact postman request payload to reproduce this issue?

[2018-12-06 07:29] chamanklalwani commented on #1
Hi Aman,

Yes, I am passing the correct JWT token in the Authorization header.

Actually, I have an angular App which accesses the backend (Spring Boot application),  Initially, I was getting CORS error. So I added CORS filter and after the CORS filter, I was getting "preflight has an invalid HTTP status code 401". For this, I needed to modify **WebSecurityConfig.java** file. I allowed **HTTP.OPTI

[2018-12-07 06:39] isopropylcyanide commented on #1
Thanks for sharing. Marking the issue as closed.

[2018-12-07 06:39] #1 closed

[2019-03-23 13:20] kipierre opened #4 "problem login"
after launching the project Jwt-Spring-Security-JPA:

_http://localhost:8080/api/auth/register
_{"email":"pierre.kitio@yahoo.fr","password":"134","registerAsAdmin":true}
_I receive a confirmation email and I valid
_but when I want to login myself  , my user-device table in my database is empty

http://localhost:8080/api/auth/login

{"email":"pierre.kitio@yahoo.fr","password":"1234"

}
i receive :{

[2019-03-23 15:15] isopropylcyanide commented on #4
In Application properties, set

```spring.jpa.hibernate.ddl-auto=create``` instead of
```spring.jpa.hibernate.ddl-auto=none```

[2019-03-23 17:41] kipierre commented on #4
spring.jpa.hibernate.ddl-auto=create I changed in this
the same problem persists my table user_device remains empty
    Le samedi 23 mars 2019 à 16:37:10 UTC+1, Aman Garg <notifications@github.com> a écrit :

 This message is eligible for Automatic Cleanup! (notifications@github.com) Add cleanup rule | More info

In Application properties, set

spring.jpa.hibernate.ddl-auto=create instead of
sprin

[2019-03-23 18:43] isopropylcyanide commented on #4
Well, I'm unsure as to what's happening here. Can you please take a pull from the master and try again.
I've set the default to "create" mode.

[2019-03-28 11:13] isopropylcyanide commented on #4
Marking it as closed.

[2019-03-28 11:13] #4 closed

[2019-06-10 09:19] aungtuntun opened #7 "Response status 401 is access_token expired or permission is denied"
Hi,

How to I know response status 401 is user access_token is expired or user can't access to Admin role permission? Please.
=> token expired
[code]
=> denied permission
[code]

[2019-06-10 20:38] isopropylcyanide commented on #7
Hi @aungtuntun. Good point. This is a feature ask. At present we'll not be able to do this because we have a single source of exception handling in Servlet Filter Chain configured at **JwtAuthenticationEntryPoint**

What I can do is attach a **HandlerExceptionResolver** at the AuthenticationEntryPoint.
If I am able to draw up a throwable instance from the servlet request, I can route it to the exi

[2019-06-10 20:42] isopropylcyanide commented on #7
Attaching some screenshots for the generated response

**Invalid JWT**
![Invalid JWT](https://user-images.githubusercontent.com/12872673/59225194-bca5c000-8bed-11e9-9099-26b770d5742a.png)

**Expired JWT**
![Expired JWT](https://user-images.githubusercontent.com/12872673/59225292-f2e33f80-8bed-11e9-93fe-ea2da89004f1.png)

Notice, that I'm throwing the same HTTP response code 406 (Not Acceptable) fo

[2019-06-17 07:54] aungtuntun commented on #7
Hi,
Thanks for suggestion. I just used custom response for Access denied and UnAuthorized.
=> Admin Register,
![image](https://user-images.githubusercontent.com/28741748/59586716-901c0780-9109-11e9-95c9-10198a69130f.png)

=> Admin login

![image](https://user-images.githubusercontent.com/28741748/59586809-c2c60000-9109-11e9-8f53-bd9306d0ef60.png)

=> Admin called user list
![image](https://user-im

[2019-06-17 14:36] #7 closed

[2019-11-25 15:27] im5an opened #9 "500 Internal server"
When deployed as war on server, if token expired instead of sending 406 response code exception, it is sending 500 internal server error exception but if running as a jar it's working fine

[2019-11-27 08:00] isopropylcyanide commented on #9
Hi im5an, thank you for reporting the issue. Can you help me with the following:

- Share the stack trace / response payloads in both environments (jar and war)
- Describe the steps you took for me to be able to reproduce the issue
- Your best guess as to why the above scenarios is happening.

Regards,
Aman Garg

[2019-12-05 04:54] im5an commented on #9
Fixed issue
` protected void doFilterInternal(HttpServletRequest request, HttpServletResponse response,
                                    FilterChain filterChain) throws ServletException, IOException {
        try {
            String jwt = getJwtFromRequest(request);

            if (StringUtils.hasText(jwt) && jwtTokenProvider.validateToken(jwt)) {
                Long userId = jwtTokenProvide

[2019-12-05 04:54] #9 closed

[2019-12-05 10:20] isopropylcyanide commented on #9
I do not understand what the issue was as there are no comments. Can you kindly raise a PR for the same?

[2020-01-16 08:23] bruce-oh opened #11 "Create table sql request"
Create table sql request
Please~!
Thank you!

[2020-01-16 09:14] #11 closed

[2020-01-16 09:51] isopropylcyanide commented on #11
Hi Bruce. Table would be created automatically for you by Hibernate.
You can then go to table definition in MySQL or your database to view the schema or create table query.

[2020-01-17 00:05] bruce-oh commented on #11
Thank you very much ^~^

[2020-07-06 07:44] mjza opened #12 "Logout does not work!"
When I try to logout, it will show a SUCCESS message for logout.

However still the old token is usable and I can access to data via `/user/me` with the old token!

[2020-07-06 09:04] isopropylcyanide commented on #12
Hi @mjza the token will stay valid for the duration until it expires. In a real enterprise grade application, the client layer deletes the token from their local storage (browser cache, cookie) post the success of the logout API. The expectation is that the token will not be reused again.

A Client layer can also delete the token after a certain period of inactivity (effective logout). Facebook mi

[2020-07-06 09:25] mjza commented on #12
It is interesting that you say the access to the resources  can be provided by having the token even after a successful logout.
The problem is somebody can take this token and use it until the expiration time.
I believe the token must be somehow invalidate after the logout.
Otherwise why do I have to tell the back-end that the user has logged out?
I tell back-end user has logged out that the token

[2020-07-07 02:03] isopropylcyanide commented on #12
- Logout is by design, achieved here through a stateless mechanism. When you carry no state, there are always trade offs. Hence, if you lose or compromise your token (using it even after a server logout), all is lost.  You can read about what happens when you lose a token [here](https://developer.okta.com/blog/2018/06/20/what-happens-if-your-jwt-is-stolen#what-happens-if-your-json-web-token-is-sto

[2020-07-07 05:40] isopropylcyanide commented on #12
@mjza You can take a pull from master now. The check for token invalidation has been added.

[2020-07-07 07:11] mjza commented on #12
@isopropylcyanide Thanks a lot. I will check it soon.

[2020-07-07 09:27] mjza opened #15 "Does the constructor in DeviceInfo.java correct?"
in file [DeviceInfo.java](https://github.com/isopropylcyanide/Jwt-Spring-Security-JPA/blob/master/src/main/java/com/accolite/pru/health/AuthApp/model/payload/DeviceInfo.java) on line 41 there is a constructor like this:

[code]

I think it must changed like this:
[code]

Am I right?

[2020-07-07 10:29] mjza commented on #12
Dear @isopropylcyanide, I tested the app. It works perfect. Thanks.

[2020-07-07 10:29] #12 closed

[2020-07-07 15:12] isopropylcyanide commented on #15
You are correct to point it out. The instance members are not being set (`this.`) to be explicit.

[code]

Can you raise a PR for this and any other inconsistencies you come across? Will be happy to review.

[2020-07-08 06:21] mjza commented on #15
Sure I will try

[2020-07-08 06:23] mjza opened #16 "I got error"
I tried to used your code in new spring-boot project but I got the following error:

Any suggestion for solving that? Everything is copy past except the spring boot version that I use the latest, but it is interesting that it shows this error for the following line of code in Role.java:

[code]

y - no Session

[2020-07-08 06:25] mjza commented on #16
However when I upgrade the spring boot version to `2.3.0.RELEASE` it has problem with `javax.validation` also.

[2020-07-08 07:04] mjza commented on #16
It is needed to add the following line to application.properties:

[code]

[2020-07-08 07:04] #16 closed

[2020-07-08 08:53] isopropylcyanide commented on #16
Thanks for sharing. It is possible that few dependencies are decoupled in the newer versions of Spring boot which were not in the version used in this project.

[2020-07-08 09:08] mjza opened #17 "Upgrade to use MariaDB"
It has problem in saving user when we use MariaDB jdbc:

[code]

Dependency:
[code]
I would suggest to test the app with some other data bases also. For example if we just change the jdbc and dialect to MariaDB then it has problem in saving a new use. I have not yet discovered where does the problem come from. However, in UserService in the save function it will fail:

[2020-07-08 09:24] mjza commented on #17
I couldn't regenerate the error anymore. Hence, I will close this issue.

[2020-07-08 09:24] #17 closed

[2020-07-08 12:20] mjza opened #18 "Why do you use java.time.Instant?"
I would suggest to use `java.util.Date` instead of `java.time.Instant` in `DateAudit.java` because some libraries like Olingo JPA does not support `java.time.Instant`

[2020-07-09 04:53] isopropylcyanide commented on #18
I think this [article](https://programminghints.com/2017/05/still-using-java-util-date-dont/) should sum up why `java.util.date` is deprecated.

As for the compatibility with Olingo API, I'm not sure why it would not be compatible? A `java.time.Instant` can be converted to a `java.util.date`

[2020-07-09 08:51] mjza commented on #18
I tried to use a converter even but it was not run automatically as claimed in this tutorial:

https://www.adam-bien.com/roller/abien/entry/new_java_8_date_and

At the moment I have no clew why the JPA does not support `java.time.Instant`, hence I have changed the manually to `java.util.date`.

[2020-07-09 15:42] mjza commented on #15
I made the pull request. By the way, it was the first time I made a PR 👯

[2020-07-09 15:46] mjza opened #20 "Exclude the static files from security mechanisem."
Maybe it is also a good idea to have an option for excluding or including the static files inside the `main\webapp` folder from security mechanism.

This is important when we use modern clients like Angular or UI5 beside of this project!

[2020-07-09 15:54] mjza commented on #20
Oh sorry you have already added it.

I would suggest to add `json` and `xml` also as 2 common use files types in UI5 structure as static file.

[code]

[2020-07-09 16:37] isopropylcyanide commented on #20
Sure. Please raise a PR for the same.

[2020-07-09 16:38] isopropylcyanide commented on #15
Thank you for your efforts. You're a contributor now. Good job 👍

[2020-07-09 18:37] mjza commented on #15
Thanks. I will close the issue.

[2020-07-09 18:37] #15 closed

[2020-07-10 06:21] mjza commented on #20
Done.

[2020-07-10 17:44] isopropylcyanide commented on #20
Merged

[2020-07-13 14:30] #20 closed

[2020-07-13 14:34] mjza opened #22 "Unsuitability when add CORS!"
I needed to add CORS for development purposes. Then I added this snippet in the WebSecurity file.

[code]
However, when I added this some kind of unsuitability will happen. Sometimes the  `/api/user/me` will failed, sometimes refresh token and so on. It will show 403 error:

[code]
And in the console:

What is your suggestion for supporting CORS?

[2020-07-14 07:21] mjza commented on #18
Article about JPA does not support Instant:

https://github.com/eclipse-ee4j/jpa-api/issues/63

https://stackoverflow.com/questions/49309076/why-jpa-does-not-support-java-time-instant

[2020-07-15 12:18] mjza commented on #22
@isopropylcyanide Do you have any idea about this issue?

[2020-07-15 14:07] mjza opened #23 "Store more user's data at the registration time"
Why it does not store users first and last name:

[code]

[2020-07-15 14:09] mjza opened #24 "Return error messages based on a locale"
We can pass a locale to the as a HTTP variable and in case of error see error messages on that particular language. for example:

[code]

to see the error messages in German language!

[2020-07-15 14:25] mjza opened #25 "Error object does not have same structure for all erros!"
The error response that returns by the back-end does not have a common attributes and structure!
Some sample cases that I see:
1. When both user and pass are wrong!
[code]
2. When user is not yet activated
[code]

[2020-07-15 14:33] mjza opened #26 "It accepts empty email and password in the registration"
I can pass this data:

[code]

And while it cannot register a new user, it will send success message!

[2020-07-15 14:38] mjza commented on #26
Also I tested if I only pass password or if I pass an string instead of email it will register the user in that cases successfully!

[2020-07-15 15:00] mjza opened #27 "Register with already registered email will send code 226"
When I try to register with an already used email it will send an error message with a success code 226

[code]

[2020-07-15 17:07] isopropylcyanide commented on #26
The project is meant to be a POC @mjza. The extra validations and edge cases are not handled because they're outside the scope of the project. If you want to contribute to the codebase for these additional checks, please raise the PR.

[2020-07-15 17:09] isopropylcyanide commented on #27
226 seems to be a good default. It doesn't communicate a successful intent like 200, 204 or 201

[2020-07-15 17:10] isopropylcyanide commented on #25
You can write a custom exception mapper for this use case. A common structure would be good to have in the codebase.

[2020-07-15 17:12] isopropylcyanide commented on #24
The project is meant to be a POC @mjza. Passing locale is outside the scope of the project.
What you're trying to achieve is putting all your use case requests into Github issues. While this isn't a problem, you can always fork this project and modify this according to your use case.

**Not everyone needs locale.** This project is meant to give primers on JWT + Spring Security + Hibernate entities

[2020-07-15 17:17] isopropylcyanide commented on #22
I think CORS needs to be enabled as a filter. Otherwise all requests would be dropped off. Not sure about it further. Found an [article](https://www.baeldung.com/spring-security-cors-preflight) that might help for starters

[2020-07-15 17:34] mjza commented on #27
Any 2xx in java script will call the success callback function. In front-end normally we have fnError and fnSuccess. When you send 226 the success call back function will be executed.

[2020-07-15 17:36] mjza commented on #23
I reported because these 2 columns or attributes is part of your code at the moment. I though maybe you forgot it. Of course we can extend it!

[2020-07-17 09:02] mjza opened #28 "Password reset issue"
How do we generate token for password reset?

Is `api\auth\password\reset` for a logged in user?

Or is it for resetting a forgotten password?

If this is the second case how do we request for a new email with reset token? Because I saw you used a token in the payload!

[2020-07-17 09:04] mjza commented on #28
if this is for a logged in user don't you think it is better we put it under `api\user` end point?

[2020-07-17 15:18] isopropylcyanide commented on #28
**api/auth/password/resetlink**  and **/api/auth/password/reset**  are for a logged out user.
You cannot request a new email as of now. The password will be delivered to your original mail.

[2020-07-17 17:33] mjza commented on #28
Please check this picture:

![reset](https://user-images.githubusercontent.com/12872673/45047624-3628e480-b097-11e8-944f-c88b1cd0c231.png)

What is that token in the body?
How does the back-end know which user requested for resetting the pass?

[2020-07-18 04:20] isopropylcyanide commented on #28
The token is a password reset token (PRT) mapped in the **password_reset_token** against your email Id. This is not a JWT token used for authentication.
The PRT should be sent to your email address. The code base is hooked up with java mail clients. You should specify your sender password and email to be able to receive an email on the account which has forgotten your password.

[2020-07-29 11:48] #28 closed

[2020-07-29 12:03] mjza commented on #27
For solving this issue I suggest to change the `@ResponseStatus(HttpStatus.IM_USED)` to `@ResponseStatus(HttpStatus.CONFLICT)` in both `AuthControllerAdvice.java` and `ResourceAlreadyInUseException.java` files. I didn't provided any pull request for it, if you think it is acceptable I can provide pull request.

[2020-07-29 12:07] mjza commented on #22
Here is my solution for DevConfig:

[code]

[2020-07-29 12:07] #22 closed

[2020-07-29 12:45] mjza commented on #23
Easy to implement. As `User` model has firstName and lastName as properties already we can easily do the following changes to store them as well:
First change the `RegistrationRequest` file,
[code]

Then change the `createUser` function inside the `UserService` class as follow:
[code]

[2020-07-29 12:45] #23 closed

[2020-07-29 12:46] #24 closed

[2020-07-29 13:31] mjza commented on #26
First of all we must fix the `HttpStatus` in `BadRequestException` like following:

[code]

Then we can extend the `RegistrationRequest` class like this:

[code]

And finally we must edit the `registerUser` function in the `AuthService` class like the following:

[code]

In this solution we assumed the `username` is optional for user to pass, then when he does not pass it, we set it in the `Regist

[2020-07-29 13:32] #26 closed

[2020-07-29 13:34] #18 closed

[2020-07-29 13:51] mjza opened #30 "Swagger shows redundant data for user apis"
When we visit [http://localhost:9004/swagger-ui.html#/user-controller/updateUserPasswordUsingPOST](http://localhost:9004/swagger-ui.html#/user-controller/updateUserPasswordUsingPOST) we will see lots of redundant data which is generated automatically from `User` model. How can we get read of them?

[2020-07-29 13:53] mjza commented on #30
It is easy we have to add `@ApiIgnore` to the `getUserProfile` function inside the `UserController`:

[code]

Don't forget to import it aswell:

[code]

[2020-07-29 13:55] mjza opened #31 "Swagger does not support JWT token for User APIs!"
In the current implementation you cannot run and test any of the APIs related to the `User`. The reason is it does not send jwt token to the server.

[2020-07-29 14:02] mjza commented on #31
For solving this issue we can follow the solution [here](https://stackoverflow.com/questions/50545286/spring-boot-swagger-ui-set-jwt-token). With respect to the what explained there, I came to the following solution:

1. Changes in `SwaggerConfig` file, to separate the APIs of the Auth and User in two different groups, then Swagger will show a dropdown in [http://localhost:9004/swagger-ui.html](ht

[2020-07-29 14:03] #31 closed

[2020-07-29 15:00] mjza opened #32 "Cannot login with username and password!"
If you try to send username and password instead of email and password you cannot login.

[2020-07-29 15:04] mjza commented on #32
To activate using username, first you need to apply [issue#26](https://github.com/isopropylcyanide/Jwt-Spring-Security-JPA/issues/26), as I explained there we will make sure to fill username with email in case user does not send it.

Then we change `authenticateUser` function inside the `AuthService` class as following:

[code]

Finally we need to add the following function [`getUsernameOrEmail`]

[2020-07-29 15:04] #32 closed

[2020-07-30 03:32] isopropylcyanide commented on #30
Right. There needs to be a way of selectively including what we want. By default it might scan for all models.

[2020-07-30 03:32] isopropylcyanide commented on #22
Thank you for sharing your solution here @mjza I'm sure it would help a lot of folks.

[2020-07-30 03:34] isopropylcyanide commented on #27
Yes I think a PR would make sense here. It is indeed a conflict that an email matches an existing one. Do you think you can raise one here?

[2020-07-30 07:30] mjza commented on #27
OK. I will do.

[2020-07-30 07:32] mjza commented on #30
Shall I make a PR for this also?

[2020-07-30 08:17] mjza commented on #27
Pull request is ready.

[2020-07-31 16:21] mjza opened #34 "WebSecurityConfigurerAdapter does not serve index.html when it's name does not mentioned in the URL explicitly"
Hi @isopropylcyanide: I know it is not 100% related to this project, but maybe you can give me some advice. Please check this 2 questions: [link1](https://stackoverflow.com/questions/63175074/websecurityconfigureradapter-does-not-serve-index-html-when-its-name-does-not-m), [link2](https://stackoverflow.com/questions/63188491/how-to-add-rewrite-rule-to-spring-boot-2-3-1)

[2020-07-31 17:18] isopropylcyanide commented on #27
Approved and merged.

[2020-07-31 17:25] isopropylcyanide commented on #30
Yea, why not. I don't see any point in Swagger annotations for the models and DTOs

[2020-07-31 17:27] isopropylcyanide commented on #34
No idea man. We use Dropwizard at work and directly deal with URIs. We use the `seeOther` methods to achieve that. In the links you've shared someone has mentioned the `HttpServletResponse` method. I think that can be worth exploring.

[2020-07-31 21:43] mjza commented on #34
I tried that, but does not have any effect. I am really surprised that why it works when I run it with maven and not working with tomcat.

[2020-08-03 04:54] isopropylcyanide commented on #34
Maven is a build tool. Tomcat is a servlet container. These two are completely unrelated.

[2020-08-03 05:33] mjza commented on #34
I know but `mvn spring-boot:run` will run the build code that must run at the end in tomcat! The problem is visiting the root address will cause to serve `/index.html` but at the end the `WebSecurityConfigurerAdapter` will block it! I can see that in the console:

[2020-08-06 19:04] Pankaj-1895 opened #35 "Stackoverflow issue"
During login time , you were save device info inside refresh token structure with user detail and same refresh token structure you are save inside device info structure which is creating like recursion. How we can solve stackoverflow error.

[2020-08-07 07:25] isopropylcyanide commented on #35
Hi @Pankaj-1895 can you please share the trace and the steps to reproduce?

[2020-08-07 07:44] Pankaj-1895 commented on #35
Actually I didn't run the code . I was just seeking your flow so I found recursion step there so doubt arise then only I thought you didn't got any stackoverflow error.

[2020-08-07 19:37] isopropylcyanide commented on #35
No, there's no stack frames being overflown here. The bidirectional mapping works because both entities are in persistent (managed) state. The foreign key references hold true as well.

Both entities are flushed from the hibernate cache to the DB together.

[2020-08-08 19:01] Pankaj-1895 commented on #35
Ok , I Agree with you , but foreign key references mean your primary key of other table with you current table . So we are talking about key but by your code it seem whole structure(model) in nested form including key too. In General I am asking not only in JAVA , i think it can be done in alternate  way without doing whole model in recursive . For one time of being i understand you also understan

[2020-08-09 12:25] isopropylcyanide commented on #35
Yes, it can be done in other ways. If I could, I would scrape Hibernate off of this project for good. It's good for quick PoC's but gets unmaintainable when the codebase gets bigger.

Considering its jargons and the discourse from JPA standard in some aspects.

[2020-08-09 12:25] #35 closed

[2020-08-14 07:12] abdurrehmansyeds opened #36 "Using claims directly from JWT token claim"
In JwtAuthenticationFilter, for each request there is a DB call for userDeatils, why not add necessary claims in JWT while creating and then reuse it for Authentication instead of loading userDetails again from DB.
In my opinion the DB call for each request will destroy the whole purpose of Jwt being Stateless

[2020-08-14 07:54] isopropylcyanide commented on #36
@abdurrehmansyeds Necessary claim is being added in `JwtTokenProvider` in the form of a subject. `UserDetails` can be extended in the future. Subject is meant to be finite. Storing IDs is a perfect use case within the token.

We can however, explore a way to store only the relevant information and avoid the look up.

[2020-08-26 11:33] ILyaCyclone commented on #36
Absolutely agree with @abdurrehmansyeds . Making a DB call on each request while using JWT completely destroys its major purpose. And it would perform worse than classic server-side session authorization schema which only goes to DB once per login.

[2020-08-27 05:23] isopropylcyanide commented on #36
@ILyaCyclone What do you propose, instead?

[2020-09-15 08:01] mjza commented on #34
@isopropylcyanide We can add the following controller to redirect `\` to `\index`:

[code]

[2020-09-15 08:01] #34 closed

[2020-10-20 10:20] pedrogcsb opened #37 "Refresh Tokens"
Hey!

Any idea how can we remove / delete refresh token from DB if expired?

[2020-10-20 14:07] isopropylcyanide commented on #37
Hi, this seems to be a task for a cleanup activity. Can be performed by any background asynchronous process. You can write a scheduled job or a cron that does it for you.

[2020-11-05 13:41] mjza opened #38 "How can we redirect http requests to https?"
I know it is not part of the aim of this repository but it is related to config of the server.

I want to redirect http requests to https. I used the following solution from [here](https://mkyong.com/spring-boot/spring-boot-redirect-port-8080-to-8443/) in the `WebSecurityConfig.java`:

[code]

However I receive the following error:

13:19:55.981 [main] ERROR org.springframework.boot.SpringApplicat

[2020-11-05 15:29] mjza commented on #38
I found the following suggestion also, however, it does not work.

https://stackoverflow.com/questions/24650450/how-to-redirect-http-requests-to-https-using-spring-security-java-configuration

[2020-11-06 07:26] mjza commented on #38
1. We need to define a class in the config folder as follow:

[code]

[2020-11-06 07:26] #38 closed

[2020-11-09 13:26] mjza opened #39 "How to get current user?"
Is there any API that we could get the current user anywhere?

[2020-11-10 06:40] isopropylcyanide commented on #39
Hi. Not sure what you mean by anywhere. You can create any API and pass the current user context.
Read about [AuthenticationPrincipal](https://www.baeldung.com/get-user-in-spring-security) here.

In the current codebase, there's a `@CurrentUser` annotation that we use to obtain the current user. It simply is a wrapper over the `AuthenticationPrincipal`. You can check the usage in `UserController#m

[2020-11-10 07:48] mjza commented on #39
I found this way also:

[code]

[2020-11-10 07:48] #39 closed

[2021-01-13 22:08] isopropylcyanide commented on #27
Merged #33

[2021-01-13 22:08] #27 closed

[2021-03-16 19:45] pedega opened #41 "Send email with PRT for forgotten password functionality missing?"
I am missing the functionality to generate the PRT and send the Email. Is this not in scope or do I misunderstand this point?

**Support for forgot-password functionality with password reset token sent to mail.**

[2021-03-19 17:30] isopropylcyanide commented on #30
@mjza Still willing to raise a PR here?

[2021-03-19 17:30] #25 closed

[2021-03-19 17:30] isopropylcyanide commented on #25
Not an issue.

[2021-03-19 17:31] mjza commented on #30
@isopropylcyanide No time sorry.

[2021-03-19 17:32] isopropylcyanide commented on #41
Password reset tokens are generated and persisted in the database. However, sending emails is not in scope. The project can be integrated with a **notification service** that spawns a `SendEmail` task for active tokens.

[2021-03-19 17:33] isopropylcyanide commented on #30
@mjza Sure, thanks. Not an issue.

[2021-04-01 07:03] krupalshah commented on #30
@isopropylcyanide Please merge this PR: https://github.com/isopropylcyanide/Jwt-Spring-Security-JPA/pull/42

[2021-04-01 11:17] isopropylcyanide commented on #30
@krupalshah Thanks for pitching in.

[2021-04-01 11:17] #30 closed

[2021-04-11 18:41] mmafrar opened #44 "Moving to Maven Wrapper from local installation"
The Maven Wrapper is an excellent choice for users that don't want to install Maven at all. Instead of installing many versions of it in the operating system, we can just use the project-specific wrapper script.

Below files needs to be added to the project as part of moving:
- mvnw: it's an executable Unix shell script used in place of a fully installed Maven
- mvnw.cmd: it's the Batch version of

[2021-04-12 07:37] isopropylcyanide commented on #44
@mmafrar I agree. This would help streamline the environment for all platforms. Yes, we can work towards it.

[2021-04-13 02:12] abdurrehmansyeds commented on #36
@isopropylcyanide I know this is very old question, I just checked its still open so replying.
 you are making DB call to get user roles and create UserNamePasswordAuthenticationToken so why not add roles claim as comma separated string, then upon receiving request we can easily extract roles from jwt

[2021-04-14 05:51] abdurrehmansyeds commented on #37
I would suggest to store Refresh Token in Cache with TTL(Time to live) same as refresh token expiry, token gets deleted automatically when expired also there are some advantages using cache instead of DB for refresh tokens

[2021-04-14 09:17] isopropylcyanide commented on #37
@abdurrehmansyeds Thanks. Although straightforward, purging refresh tokens is outside the scope of the initial project. A variant of this is already done here #13

[2021-04-14 09:18] isopropylcyanide commented on #36
Sure, that can be done @abdurrehmansyeds  Feel free to raise a PR.

[2021-04-15 18:09] #44 closed

[2021-04-23 10:21] VuEMAX opened #46 "Cannot load configuration class: com.accolite.pru.health.AuthApp.AuthAppApplication"
2021-04-23 12:10:50.393  INFO 5240 --- [  restartedMain] c.a.p.health.AuthApp.AuthAppApplication  : Starting AuthAppApplication on Vus-MacBook-Pro.local with PID 5240 (/Users/vunguyen/Downloads/Jwt-Spring-Security-JPA-master/target/classes started by vunguyen in /Users/vunguyen/Downloads/Jwt-Spring-Security-JPA-master)
2021-04-23 12:10:50.395  INFO 5240 --- [  restartedMain] c.a.p.health.AuthApp.A

[2021-04-23 14:55] isopropylcyanide commented on #46
Hi, it seems like there's some classpath errors at your end. Can you try clearing your ~/.m2 folder and retry the build.

[2021-04-26 07:33] VuEMAX commented on #46
Hi, I already try it but it's not working.

[2021-04-26 10:10] isopropylcyanide commented on #46
Can you confirm if the `mvn clean install` works for you? Also, share the output.

[2021-04-26 10:27] VuEMAX commented on #46
Hi, after running the "mvn clean install", I received the results as follows:
➜  Jwt-Spring-Security-JPA-master mvn clean install
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------< com.accolite.pru.health:AuthApp >-------------------
[INFO] Building AuthApp 0.0.1-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
Downloading from central: https:

[2021-04-26 10:30] VuEMAX commented on #46
I run it on Apple M1, I don't know if it is relevant.

[2021-04-26 11:43] isopropylcyanide commented on #46
Found it. OS/Arch isn't the problem. JVM is.
Are you running on Java 11+ ? The app is not tested for Java 8+ and is backward incompatible.

Try this `/usr/libexec/java_home -V ` If it returns Java 8, it will work. Else it will not. Try to point the Java SDK to 8 in your IDE for this project.

[2021-04-26 14:44] VuEMAX commented on #46
Hi, I fixed it but there is another issue as follows:

s-5.0.8.RELEASE.jar:5.0.8.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:317) [spring-beans-5.0.8.RELEASE.jar:5.0.8.RELEASE]
        at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:222) ~[sprin

[2021-05-03 18:03] DuyK13 commented on #46
Can i ask u how you store the jwt token into blacklist?

[2021-05-11 11:43] isopropylcyanide commented on #36
DB lookup is not required to fetch claims anymore. Thanks @abdurrehmansyeds
Marking the issue as closed.

[2021-05-11 11:43] #36 closed

[2021-05-11 11:49] isopropylcyanide commented on #46
@DuyK13 Blacklisted tokens can be persisted into the app memory (maybe using an expiring map. See #13 where we persist logged out tokens into app memory ).

 If you do not want the blacklisted tokens to die post app restart, the blacklisted tokens can be written into a low latency in memory store such as `Redis`. During JWT validation phase, a lookup to the store can be made to reject blacklisted

[2021-05-15 08:43] tienduoc opened #48 "NullPointerException when execute GET '/api/user/me'"
************************************************************

Request received for GET '/api/user/me':

org.apache.catalina.connector.RequestFacade@23e5bad

servletPath:/api/user/me
pathInfo:null
headers:
authorization: Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxIiwiaWF0IjoxNjIxMDY3ODI5LCJleHAiOjE2MjEwNjg3MjksImF1dGhvcml0aWVzIjoiUk9MRV9BRE1JTixST0xFX1VTRVIifQ.fCZanM3-536HVUmUOfXU0ztJFTCthc9AwLP1bRsq8

[2021-05-18 16:33] isopropylcyanide commented on #48
Can confirm the fix works. Thanks for raising the issue and proactively fixing it.

[2021-05-18 16:33] #48 closed

[2021-05-18 18:57] ibrahimshirinovv opened #50 "Swagger UI problem"
Looks like Swagger ui exposed but still return unauthorize error response.How to fix it ?

[2021-05-28 19:04] isopropylcyanide commented on #50
Hi. Can you share the trace? This works for me.

[2021-05-28 19:04] #46 closed

[2021-06-13 08:26] talentedandrew opened #51 "Remember me functionality."
Hi, I do you intent to add a 'Remember me' functionality in this repo? `remember me` functionality provided by spring security is pretty straight forward, but how can one integrate it with the jwt.

[2021-06-13 12:38] isopropylcyanide commented on #51
Hi. *Remember me* can be solved by using a `refresh token` which is stored on the client (app cache/site local store). When the app is opened, the client makes a call to obtain a new `JWT` by using the refresh token. Using this `JWT`, the client can communicate with the backend for all secured APIs until the `JWT` further expires at which point a call to `/refresh` is made again. This can be playe

[2021-06-20 07:41] talentedandrew commented on #51
IMO the better way is to pass the refresh token in the `Set-Cookie` Header just after the login with `httpOnly` and `secure` flags. In this way the client can send a get request (something like `/rememberme`) to the server, along with the refresh token in the cookie (which was set by the server) and the server can validate that cookie and auto login.
Using this approach the client doesn't need to

[2021-06-20 07:45] isopropylcyanide commented on #51
I agree. This seems better.

[2021-07-11 09:35] tuan1604LTS opened #52 "Can't start the application"
Please help with my issue.
Thank you so much.
After I run ./mvnw spring-boot:run
I came across this issue:

`2021-07-11 16:33:11.890  INFO 6569 --- [  restartedMain] c.a.p.health.AuthApp.AuthAppApplication  : Starting AuthAppApplication on LAP01651s-MBP with PID 6569 (/Users/lap01651/IdeaProjects/Jwt-Spring-Security-JPA/target/classes started by lap01651 in /Users/lap01651/IdeaProjects/Jwt-Spring-

[2021-07-11 09:36] tuan1604LTS commented on #52
I've google already but I'm not able to find out what happened.
I'm looking forward to hearing from you soon.

[2021-07-11 19:11] isopropylcyanide commented on #52
Are you running on Java 11+ ? The app is **not tested** for Java 8+ and is backward incompatible.

Try this `/usr/libexec/java_home -V` and `java -version` If it returns Java 8, it will work. Else it will not. Try to point the Java JDK to 8 in your IDE for this project.

[2021-07-12 01:42] tuan1604LTS commented on #52
Hi
I upgraded "spring-boot-starter-parent" and other dependencies in pom.xml
and it worked well.
Thank you so much.

[2021-07-12 02:28] tuan1604LTS commented on #52
I find your source code really helpful.
Do you have a youtube channel?

[2021-07-12 08:59] isopropylcyanide commented on #52
I'm glad the source code is readable. I don't have an active channel yet. Do you think it'd make sense to pursue it? I started [this](https://www.youtube.com/channel/UCo3HHs6SnVkbi5npVZvJyOQ) an year ago but couldn't find time to get it going.

[2021-08-14 11:07] Assadullah-Khan opened #53 "Refresh tokens should not be stored in database as it makes the whole architecture state full."

[2021-08-14 12:36] isopropylcyanide commented on #52
Closing as the actual issue seems to have been resolved.

[2021-08-14 12:36] #52 closed

[2021-08-14 12:36] isopropylcyanide commented on #50
Closing due to inactivity. Feel free to reopen. Kindly add more details to the issue.

[2021-08-14 12:36] #50 closed

[2021-08-14 12:36] #51 closed

[2021-08-14 14:37] Assadullah-Khan commented on #53
It totally depends on case to case basis. If you prefer to have some analytics or observe ability or any sort of policies. It might be OK for you.

But for general or abstract  use cases, i prefer to not store the refresh tokens in data stores.

Any how if you disagree, you may close this issue.

[2021-08-14 16:03] #53 closed

[2021-10-10 17:42] eduyayo opened #54 "could you share the postman project?"
hi!
could you share the postman project?
maybe in test/resources or something...

[2021-10-10 17:50] #54 closed

[2021-10-10 17:50] eduyayo commented on #54
drop it!. I've created my own..

[2021-10-30 22:00] isopropylcyanide opened #57 "Bugs in Password Reset Flow"
There are **3 major bugs** in password reset flow. Detected manually while updating the README.

- **Bug I** Any one can reset password for anyone if they have the token. This is incorrect. We should reset the password only if the token matches the email authorizer. _To reproduce, register two users, request password reset link for both, look into the DB and call password reset._

-  **Bug II** Ri

[2021-10-30 22:02] isopropylcyanide opened #58 "No observability on Password Reset Tokens"
We can't currently track when a token was created, when it was updated. We should be able to answer the following questions for a given password reset token (PRT)

| Query | Answer |
| --- | --- |
|  When was a given PRT created for a user ? | Look at `created_at` by `token_id` |
|  How many PRTs were created for a user ? | Look for all tokens by  `user_id` |
|  Which PRTs were used to reset passw

[2021-10-30 22:06] isopropylcyanide commented on #57
Fixed by #56

[2021-10-30 22:06] #57 closed

[2021-10-30 22:07] isopropylcyanide commented on #58
Fixed by #56

[2021-10-30 22:07] #58 closed

[2021-10-30 22:09] isopropylcyanide commented on #54
Sorry for the late reply. I've updated the README to make the APIs non static #55
Postman collection can be seen here Postman collection dump available [here](https://gist.github.com/isopropylcyanide/a4e8556814dbf28dc3320be59785b807)

[2021-10-30 22:11] isopropylcyanide commented on #50
Swagger UI can be seen at http://localhost:9004/swagger-ui.html once you start the app. Documented it in #55

[2021-10-30 22:16] isopropylcyanide commented on #41
Actually, I misread it. Password reset emails are also sent. As soon as password reset token is created, an event is created and published. The `OnGenerateResetLinkEventListener` consumes it and pushes an email

https://github.com/isopropylcyanide/Jwt-Spring-Security-JPA/blob/master/src/main/java/com/accolite/pru/health/AuthApp/event/listener/OnGenerateResetLinkEventListener.java#L44

[2021-10-30 22:19] isopropylcyanide commented on #37
With #56 we now mark all reset tokens as inactive once claimed. Whatever that logic of purging expired refresh tokens be, it now should include all inactive tokens as well.

[2021-12-09 18:55] WoodySide opened #59 "javax.persistence.NonUniqueResultException: query did not return a unique result: 2 (this error happens only through Heroku server-free option)"
When I  send put request Log in locally and then test it via Postman it works perfectly fine, but when I do through  Heroku server sometimes unexpectedly it adds 2 device info on the same user into DB, which leads to ambiguous situation in DB, my problem is I am not sure where exactly the problem, whether it's with the project code, or with Heroku server, because if you're using the free Heroku op

[2021-12-11 09:51] isopropylcyanide commented on #59
Hey there, following up on your separate email, this again doesn't capture a clear steps for me to reproduce. I'm not quite sure why two devices are getting registered for the user. These may be two separate calls in quick succession.

I) A **unique constraint** might be all that you need. For the purposes of demo, I've not quite added all the unique indices applicable for the entities. It's reall

[2021-12-11 10:41] WoodySide commented on #59
Thank you so much for helping me with this!

This registering two devices thing might be the Heroku server issue, right?
Because locally it never happened before.
On Sat, 11 Dec 2021 at 12:51 Aman Garg ***@***.***> wrote:

[2021-12-11 17:00] WoodySide commented on #59
Because I thought that the device purpose is when you login via Telephone
and then via computer, there should be 2 devices on DB, but now it’s like
rewriting the same user device and if there are two devices on the same
user, then error of ambiguity. I probably don’t understand, sorry)

On Sat, 11 Dec 2021 at 13:40 Alex Vasyaev ***@***.***> wrote:

[2021-12-11 17:14] WoodySide commented on #59
Sorry for the previous silly question, I have figured my problem out,it was
related as u said to unique constrains, thank you so much!)
On Sat, 11 Dec 2021 at 19:58 Alex Vasyaev ***@***.***> wrote:

[2021-12-13 07:51] isopropylcyanide commented on #59
Not sure if the Heroku server is doing anything funny. Essentially, it should just do what you program it to do.

You should be able to break down the flow API by API and need to come up with a minimum reproducible scenario. Otherwise, my hands are tied as I'm not sure what sequence of actions is being performed.

The code should be straight forward and easy to understand. You should be able to st

[2021-12-13 09:28] WoodySide commented on #59
Alight, thanks a lot, Aman!

Could also please tell when you log in through laptop, there is a Device
creating in DB, when you log in through another computer, the device info
rewrites itself, not adding a new device info, right?

On Mon, 13 Dec 2021 at 10:51 Aman Garg ***@***.***> wrote:

[2021-12-17 16:22] WoodySide commented on #59
So current problem is every time I log in with different Device data(as if from different devices) it overwrites device data on DB, not creating a new Device info linked to the same user, down below there are some evidences of it, Postman + what's going on DB after Log in request, I might be doing something wrong, so any help would be appreciated, thanks a lot
<img width="1440" alt="Снимок экрана

[2021-12-18 14:05] isopropylcyanide commented on #59
Hey @WoodySide  thanks for sharing the steps. I can confirm that this is a bug. I'll work towards fixing this promptly.

[2021-12-18 14:17] isopropylcyanide commented on #59
@WoodySide I've landed #60. Can you give it a go and confirm if the fix works for you?

[2021-12-19 12:15] WoodySide commented on #59
It is working perfectly fine now, thanks a lot!)

[2021-12-19 12:15] #59 closed

[2022-03-03 14:09] AbbyKissA opened #61 "项目引用了com.fasterxml.jackson.core:jackson-databind等81个开源组件，存在83个漏洞，建议升级"
大佬，看你这个项目调用了com.fasterxml.jackson.core:jackson-databind等81个开源组件，存在83个安全漏洞，建议你升级下。
[code]
另外82个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=ieba7a

[2022-03-03 19:22] isopropylcyanide commented on #61
嘿，谢谢你举报这个。 这是一个用于演示的玩具项目。 所以漏洞对于这个项目是可以容忍的。

随时为该项目提出“拉取请求”。
再次感谢 ：）

[2022-08-08 14:03] WoodySide opened #62 "Update user data service and controller methods"
I added two additional fields to user such as:

- image_src
- user_name

And tried to write a method to update or create these user data if they don't exists from the beginning.
It seemed reasonable to me to take a glimpse at the login with changing user password, because it's obviously almost the same.
When I try to update or add these fields, I can't login after. All I get is:
User is unauthoris

[2022-08-08 14:15] #62 closed

[2022-08-08 14:16] WoodySide commented on #62
I figured this out by deleting @Lob on image_src field